.main-container{
    width: 10%;
    height: 10%;
    background: rgb(118, 177, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin: 10px;
    flex: 0 0 40%;
    
}
.main-container:hover{
    box-shadow: inset 0px 0px 8px 5px wheat;
}
.second-div{
    -webkit-text-stroke-width: 2px;
}